.btn-green{
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    color: #fff;
    padding: 0 24px;
    outline: none;
    border: none;
    min-width: 100px;
    text-align: center;
    margin-top: 4px;
}

.btn-green:hover{
    background-color: #2fbe8e;
}

.btn-green:focus{
    background-color: #01b075;
}


.btn-green-icon{
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    color: #fff;
    padding: 0 16px 0 16px;
    outline: none;
    border: none;
    min-width: 100px;
    text-align: center;
    margin-top: 4px;
}

.btn-green-icon:hover{
    background-color: #2fbe8e;
}

.btn-green-icon:focus{
    background-color: #01b075;
}
.pr-8{
    padding-right: 8px !important;
}

.btn-green-save{
    background-color: #019160;
    border-radius: 4px;
    color: #fff;
    height:40px;
    padding: 0 32px 0 40px ;
    outline: none;
    border: none;
    min-width: 100px;
    text-align: center;
    background-position: 16px center;   
    background-repeat: no-repeat;
    margin-top: 4px;
}
.btn-green-save:hover{
    background-color: #2fbe8e;
}

.btn-green-save:focus{
    background-color: #01b075;
}
.icon-save{
    background-image:url(../../lib/image/floppy-disk-regular\ \(1\).svg) ;
    background-size: 13px;
    background-position: 16px center;
}

.btn-green-down{
    background-color: #019160;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;
    color: #fff;
    height:40px;
    padding: 0 20px ;
    outline: none;
    border: none;
    text-align: center;
    background-position: 16px center;   
    margin-top: 4px;
    background-repeat: no-repeat;
    position: fixed;
    left:155px;
    border-left: 1px solid #2fbe8e;

}
.icon-down{
    background-image:url(../../lib/image/icon-Down.svg) ;
    background-size: 13px;
    background-position: center;
}
.btn-green-up{
    background-color: #019160;
    border-bottom-left-radius:4px;
    border-top-left-radius:4px;
    color: #fff;
    height:40px;
    padding: 0 20px ;
    outline: none;
    border: none;
    text-align: center;
    background-position: 16px center;   
    margin-top: 4px;
    background-repeat: no-repeat;
    position: fixed;
    left:155px;
    border-right: 1px solid #2fbe8e;

}
.icon-up{
    background-image:url(../../lib/image/icon-Down.svg) ;
    background-size: 13px;
    background-position: center;
    transform: rotate(180deg);
}
.icon-up:hover{
    background-color: #2fbe8e;
}
.icon-up:focus{
    background-color: #01b075;
}








