<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- thư viện -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"

    <!-- base css -->
    <link rel="stylesheet" href="../../css/base/common.css" />
    <!-- detail css -->
  </head>

  <body>
    <div class="content">
      <button class="btn-green" id="btnGreen">Nộp hồ sơ</button>
      <button class="btn-green-icon" id="btnGreenIcon">
        <i class="fa-solid fa-plus pr-8"></i>Lập Hồ Sơ
    </div>

    <div>
      <label for=" "></label>
      <button class="btn-green-save" id="btnGreenSave">
        <i class="fa-regular fa-floppy-disk"></i>
      Lưu và thêm mới</button>
    </div>
  </body>
</html>
